.container-counting-down {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.box-tulisan {
  padding: 32px 20px;
}

.container-timer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 24px;
}

.box-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8px 8px;
  border: 1px solid #d0ad6b;
  width: 64px;
  height: 60px;
  border-radius: 10px;
  box-sizing: border-box;
}
