.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #383838;
  z-index: 9400;
  &-content {
    position: fixed;
    top:0px;
    bottom:0px;
    z-index: 9450;
  }
}
